.products-wrapper {
    display: flex;
    justify-content: space-between;

    .product-item {
        width: 23%;
        img {
            width: 100%;
        height: 250px;
        padding: 5px;
        border: 1px solid #c0c0c0;
        }
        .product-desc{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0;
        }
        button{
            display:block;
            width: 100%;
            border: 0;
            padding: 7px;
            color:white;
            background-color:#2e5ea5;
            border-radius: 6px;
        }
    }
    }
